/* You can add global styles to this file, and also import other style files */

html, body {  min-height: 100%;
    background-color: #F5EFE6; 
    margin: 0; }
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root, .main-container, .request-container {
  flex-grow: 1;
  background-color: #F5EFE6;
}
